# This is a basic workflow to help you get started with Actions

name: Tests

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the develop branch
on:
  pull_request:
    branches:
      - develop

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  tests:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Setup git user
        run: |
          # setup the username and email. I tend to use 'GitHub Actions Bot' with no email by default
          git config user.name "GitHub Actions Bot"
          git config user.email "<>"
      - uses: actions/setup-node@v3
        with:
          node-version: latest
      - name: Installing modules
        id: install_modules
        run: |
          rm -rf node_modules
          yarn install
      - name: Save release version to outputs
        id: save_release_version
        run: echo ::set-output name=version::$(node -pe "require('./pullRequestRelease.json').version")
      - name: Running tests
        env:
          ENDPOINT_API: ${{ secrets.ENDPOINT_API}}
          API_USER_NAME: ${{ secrets.API_USER_NAME}}
          API_USER_PASS: ${{ secrets.API_USER_PASS }}
        id: tests
        run: yarn run test
      - name: Build test
        env:
          ENDPOINT_API: ${{ secrets.ENDPOINT_API}}
          API_USER_NAME: ${{ secrets.API_USER_NAME}}
          API_USER_PASS: ${{ secrets.API_USER_PASS }}
        id: build_test
        run: yarn run build:test
      - name: Build documentation JSON
        id: build_docs_json
        run: yarn docs
      - name: Publish to Chromatic
        env:
          ENDPOINT_API: ${{ secrets.ENDPOINT_API}}
          API_USER_NAME: ${{ secrets.API_USER_NAME}}
          API_USER_PASS: ${{ secrets.API_USER_PASS }}
        id: chromatic_publish
        uses: chromaui/action@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          projectToken: ${{ secrets.CHROMATIC_PROJECT_TOKEN }}
          exitZeroOnChanges: true
      - name: Change npm version
        id: change_npm_version
        run: npm version ${{ steps.save_release_version.outputs.version }} --no-git-tag-version --force
      - name: Publish to NPM
        id: npm_publish
        uses: JS-DevTools/npm-publish@v1
        with:
          token: ${{ secrets.NPM_TOKEN }}
          tag: pull_request_${{ steps.save_release_version.outputs.version }}
          access: public
      - name: Slack notification
        uses: Foxhoundn/slack@v1.2.94
        with:
          status: ${{ job.status }}
          steps: ${{ toJson(steps) }}
        if: always()
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK }}
          SLACK_USERNAME: Qorus Toolkit
      - name: Send Discord notification
        id: discord_notify
        uses: appleboy/discord-action@master
        with:
          color: "#48f442"
          username: "GitHub Bot"
          webhook_id: ${{ secrets.DISCORD_WEBHOOK_ID }}
          webhook_token: ${{ secrets.DISCORD_WEBHOOK_TOKEN }}
          message: 'Tests action run #${{ github.run_number }} for PR ${{ github.event.pull_request.html_url }} triggered by ${{ github.triggering_actor }}, Action Info: https://github.com/${{ github.repository}}/actions/runs/${{ github.run_id}}, Chromatic Storybook: ${{ steps.chromatic_publish.outputs.storybookUrl }}, Chromatic Build: ${{ steps.chromatic_publish.outputs.buildUrl }}'

        #   - name: Send Discord notification
        # id: discord_notify
        # uses: appleboy/discord-action@master
        # with:
        #   color: "#48f442"
        #   username: "GitHub Bot"
        #   webhook_id: ${{ secrets.DISCORD_WEBHOOK_ID }}
        #   webhook_token: ${{ secrets.DISCORD_WEBHOOK_TOKEN }}
        #   message: ':exclamation: Successfully published chromatic 
                    
        #             Chromatic Build: ${{ steps.chromatic_publish.outputs.url }}
                    
        #             Chromatic Storybook: ${{ steps.chromatic_publish.outputs.buildUrl }}
        #             '
        #   embeds: '[{title: "Chromatic Storybook:", url: ${{steps.chromatic_publish.outputs.buildUrl}}}]'
